.headerTable {
    margin-bottom: 0px;
}

footer {
    margin-top: 0px;
}

marquee div{
    background:#e8a7df;
    /* background: #faeadd; */
    border: 1px solid #6c9de9 ;
    padding: 15px;
    margin: 15px 30px;
    width: 200px;
    text-align: center;
    display: inline-block;
    transition: 0.4s;

    /* border-radius: 12px; */

}

marquee div:hover{
    /* background:#fad0f4; */
    transform: scale(1.1);
    transition: 0.3s;

}
marquee {
    display: inline-block;
}

#WhyEduCents {
    overflow: hidden ;
    position: relative;
    padding-bottom: 30px;
    padding-top: 0;
    /* background: linear-gradient(0deg, #9e2640 20%, rgba(255, 0, 0, 0) 90%); */

}


.parallax1 {
    background: url(../assets/pixel-cat-pond-ezgif.com-effects2.gif);
    min-height: 400px;
    background-attachment: fixed;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

#parallax1 {
    padding: 160px;
    height: 300px;
    text-shadow: 1px 1px #000000, 0 0 10px #000000;
    background: radial-gradient(ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 70%);
}
.parallax2 {
    background: url(../assets/winter-twigs-ezgif.com-effects.gif);
    min-height: 500px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    
}

.parallax2 marquee {
    height: 500px;
}

.parallax2 marquee marquee {
    height: 100%;
}



h1 {
    font-size: 3.5em;
    padding: 0;
    margin: 0;
}

#titleCaption {
    font-size: 1.3em;
}

h2 {
    margin-left: 5%;
    text-align: left;
    font-size: 2em;
}

