

body {
    font-family: quicksand;
    width: 100%;
    background: url(../assets/Sky.gif);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
main {
    width: 100%;
    padding: 40px 0;
}
.boxTable {
    width: 90%;
    margin: auto;
    border-spacing: 50px;
}
 
.boxTable td {
    width: 50%;
 
}
.box {
    background:  rgb(61, 41, 63);
    border-radius: 12px;
    margin: 10px;
    padding: 25px;
    width: 80%;
}
.inputField {
    width: 90%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
label {
    float: left;
    font-weight: 500;
    text-align: left;
    margin-top: 10px;
}
textarea{
    font-family: quicksand;
}
 
.blackBtn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: rgb(227, 193, 246);
    color:  rgb(61, 41, 63);
    font-size: large;
}
.whiteBtn {
    padding: 10px 20px;
    background: white;
}
.smallBlackBtn {
    padding: 10px 20px;
    background: rgb(227, 193, 246);
    color: black;
}
.bottom {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}
.bottomButtons {
    margin-top: 20px;
}
.entriesTable {
    width: 100%;
    background:  white;
    margin-top: 20px;
    color: black;
}
 
.entriesTable th {
    background: rgb(227, 193, 246);
    padding: 12px;
    color: black;
}
 
.entriesTable td {
    padding: 12px;
}
.entriesBox{
    width:80%;
    margin:40px auto;
    padding:20px;
    border-radius:12px;
    background: rgb(61, 41, 63);
}
.entriesTable tr:hover {
    background:  rgb(61, 41, 63);
    color: white;
}
 
 
 