/* html{
    cursor: url(../assets/cursor.png),  auto;
} */

body {
    font-family: quicksand;
    margin: 0 ;
    width: 100%;
    background-color: rgb(23, 23, 23);
    color: white;
}

main {
    text-align: center;
}

section {
    padding: 20px 0;
    
}

nav a{ /*how to highlight current user's page? */
    padding: 1.5%;
    text-decoration: none;
    color: rgb(193, 193, 193);
}

nav a:hover{
    color: #7e7faf;
}

#selected{
    border-bottom: 2.2px solid rgb(173, 105, 207);
    color: white;
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
    margin: auto 1.5%;
}

.headerTable {
    padding: 1%;
    /*border-bottom: 1px solid #7e7faf;*/
    background-color: rgb(26, 26, 26);
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 20pt;
    background-color: rgb(46, 46, 46);
}

footer a {
    padding: 0.5%;
    text-decoration: none;
    color: white;
}

footer a img:hover{
    width: 52px;
    height: auto;

}


.font-light{
    font-size: small;
    color: rgb(46, 46, 46);
}


.button {
    margin: 5px;
    padding: 10px 20px;
    font-family: quicksand;
    /* font-weight: bolder; */
    color: white;
    border: #582f52;
    font-size: 1.08em;

    background-color: #582f52;
    border-radius: 12px;
}

.button:hover {
    transform: scale(1.1);
    background: #6a3f63;
}

input {
    font-family: quicksand;
}

button {
    font-family: quicksand;
}

.left-align {
    text-align: left;
    margin-left: 5%;
}

.right-align {
    text-align: right;
    margin-right: 5%;
}