body {
    font-family: quicksand;
    width: 100%;
    background: url(../assets/fallingStars.gif);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0;
}





section h1 {
    margin-bottom: 5px;
}

section p {
    margin-top: 0;
}

.meaningSection {
    width: 90%;
    margin: auto;
}

.meaningBox {
    background: rgb(61, 41, 63);
    padding: 25px;
}

.meaningTable {
    width: 100%;
    border-spacing: 20px;
}

.meaningTable td {
    width: 50%;
    vertical-align: top;
}

.recommendationBox {
    margin-top: 20px;
    padding: 15px;
    background: rgb(227, 193, 246);
    color: rgb(61, 41, 63);
}

.recommendationButtons {
    margin-top: 15px;
}

.whiteBtn {
    padding: 10px 20px;
    background: white;
    border: none;
}

.smallBlackBtn {
    padding: 10px 20px;
    background: rgb(227, 193, 246);
    color: black;
    border: none;
}


.compareSection {
    width: 90%;
    margin: auto;
}

.compareBox {
    background: rgb(61, 41, 63);
    padding: 25px;
}

.compareTable {
    width: 100%;
    border-spacing: 20px;
}

.compareCard {
    background: rgb(227, 193, 246);
    color: rgb(61, 41, 63);
    padding: 15px;
}

.rankingTable {
    width: 100%;
    margin-top: 10px;
}

.rankingTable td {
    padding: 8px;
}
